<h4>{{appTitle}}</h4>
{{tick | date:"hh:mm:ss"}}
<button ng-click="stopTicking()">Stop</button>
<br />
<table>
    <thead>
        <tr>
            <th></th>
            <th ng-click="order = !order"><a href="">Plate</a></th>
            <th>Color</th>
            <th>Entrance</th>
        </tr>
    </thead>
    <tbody>
        <!-- Iterating over a scoped variable -->
        <tr ng-repeat="car in cars | orderBy:'plate':order" ng-class="{selected: car.selected}">
            <td><input type="checkbox" ng-model="car.selected" /></td>
            <td><a href="#/car/{{car.id}}">{{car.plate}}</a></td>
            <td>{{car.color}}</td>
            <td>{{car.entrance | date:'MM/dd/yyyy hh:mm'}}</td>
        </tr>
    </tbody>
</table>

<input type="text" ng-model="car.plate" placeholder="What's the plate?"/>
<span>{{plateCounter}}</span>
<br />
<select ng-model="car.color" ng-options="color for color in colors">
</select>

<!-- High coupling version of the "park()" controller action.
<button ng-click="park()">Park</button>
-->
<!-- Low coupling version of the "park()" controller action, scoped variable is passed as parameter. -->
<button ng-click="parkCar(car)" ng-disabled="plateForm.$invalid">
    Park
</button>